header {
	position: relative;
	color: white;
}
header:after {
	background-image: url(./july-netflix.jpg);
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: brightness(20%);
}

header .search-by .btn {
	background: grey;
}

header .search-by .btn.active {
	background: rosybrown;
}

header .filter-block:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

header #movie-search {
	border-bottom: 2px solid #007bff;
}

/*------------------------------------*/
.search-results {}

.search-results .card-body {
	font-size: 0.9rem;
	padding: 0.6rem;
}

/*---------------------------------*/

footer {
	background: #322222;
	color: white;
}