@import "../../styles/main.scss";

.sortBy {
    label.active {
        color: $primary;
        box-shadow: none;
        font-weight: bold;
    }

    .sort-label {
        margin-bottom: 0;
    }
}